#user-detail-card {
  width: 100%;
  background-color: rgba(2, 2, 2, 0.913);
  background:linear-gradient(to top, black,rgb(30, 30, 30),rgb(95, 92, 92), rgb(253, 253, 253));
  background-color: black;
  
  #background-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  #background-image-opacity {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:100px;
  }
  .follow-button {
    border: 0.5px solid gray;
    background: rgba(0, 0, 0, 0.278);
    color: white;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
