#sidebar-container{
    width: 20%;
    height: 100vh;
    border-right: 1px solid gray;
    color: white;
   
    position: relative;
    #logo{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 100px;
            height: 100px;
        }

    }
    #menu-profile-detail{
        width: 80%;
        height: 8vh;
        position: absolute;
        bottom: 1%;
        left: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        border-radius: 60px;
        &:hover{
            background-color: rgba(71, 69, 68, 0.508);
        }
        div{
            h4{
                font-size: large;
                color: white;
            }
            h6{
                font-size: medium;
                color: rgb(170, 165, 165);
            }
        }
       
}
}