#filter{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h3{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px;
    }
}