#profile-layout-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    #profile-head {
        width: 100%;
        height: 25vh;
        background-color: rgb(163, 196, 196);
    }
}