#user-detail-container {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -30%;

    .background-image {
        width: 100%;
        height: 70%;

    }

    .user-detail {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        background-color: black;
        z-index: 1;
    }


}